{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
      /*
      * Si agregas esta configuración ya no necesitas importar React en los archivos donde utilizas sintaxis jsx
      ["@babel/preset-react", {
      "runtime": "automatic"
    }]
      */
  ]
}